{% extends "paprika/base_site.html" %}
{% load i18n markup comments %}

{% block title %}{{ article.title }} | {{ board.title }}{% endblock %}

{% block content %}
<h4>{{ article.title }}</h4>
{% if article.board.markup == 'markdown' %}
    {{ article.content|markdown:"safe" }}
{% else %}
    {{ article.content|safe }}
{% endif %}

<h5>Comments</h5>
{% get_comment_count for article as comment_count %}
<p>total {{ comment_count }} comments</p>

{% render_comment_list for article %}

{% render_comment_form for article %}

{% endblock %}
