{% extends "paprika/base_site.html" %}
{% load i18n %}

{% block title %}{{ board.title }}{% endblock %}

{% block content %}
{% if user.is_superuser %}
<a href="{% url 'article_create' board.slug %}" class="btn btn-primary btn-small">{% trans 'Create' %}</a>
{% endif %}

<h4>{% trans "Article list" %}</h4>

{% if user.is_superuser and unpublished_articles %}
<h5>{% trans "Unpublished" %}</h5>
<ul>
    {% for article in unpublished_articles %}
    <li>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> 
        <small>(<a href="{% url 'article_update' article.id article.slug %}">Edit</a>)</small>
    </li>
    {% endfor %}
</ul>
{% endif %}


{% regroup articles by public_datetime|date:"m" as articles_by_month %}
{% for group in articles_by_month %}
<h5>{{ group.list.0.public_datetime|date:"F, Y" }}</h5>
<ul>
    {% for article in group.list %}
    <li>
        <small>{{ article.public_datetime|date:"m-d, G:i" }}</small> 
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        {% if user.is_superuser %}
            <small>(<a href="{% url 'article_update' article.id article.slug %}">Edit</a>)</small>
        {% endif %}
    </li>
    {% endfor %}
</ul>
 
{% endfor %}


{% endblock %}
