{% extends "paprika/base_site.html" %}
{% load i18n markup comments %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript' %}">
$('#comment-tab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
})
</script>
{% endblock %}

{% block title %}{{ article.title }} | {{ board.title }}{% endblock %}

{% block content %}
<h4>{{ article.title }}</h4>
<p class="text-right"><a href="{% url 'category_detail' board.slug article.category.slug %}">{{ article.category.title }}</a> - <small><a href="{% url 'article_detail' article.id article.slug %}">{{ article.created_datetime }}</a></small></p>

{% if article.board.markup == 'markdown' %}
    {{ article.content|markdown:"safe" }}
{% else %}
    {{ article.content|safe }}
{% endif %}

<br />
<p><strong>{% trans 'Tags' %}:</strong>
{% for tag in article.tags.all %}
    <a href="{% url 'tag_detail' board.slug tag.slug %}">{{ tag.slug }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>

<br />
<h5>{% trans 'Comments' %}</h5>
{% get_comment_count for article as comment_count %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#paprika-comment" data-toggle="tab">Paprika comment ({{ comment_count }})</a>
    </li>
    <li><a href="#facebook" data-toggle="tab">Facebook</a></li>
    <li><a href="#twitter" data-toggle="tab">Twitter</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="paprika-comment">
    {% render_comment_list for article %}
    <hr />
    {% get_comment_form for article as form %}
    <form action="{% comment_form_target %}" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <div class="control-group">
            <label class="control-label" for="id_name">{{ form.name.label }}</label>
            <div class="controls">
                <input id="id_name" type="text" name="name" placeholder="{{ form.name.label }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_email">{{ form.email.label }}</label>
            <div class="controls">
                <input id="id_email" type="text" name="email" placeholder="{{ form.email.label }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_url">{{ form.url.label }}</label>
            <div class="controls">
                <input id="id_url" type="text" name="url" placeholder="{{ form.url.label }}" />
            </div>
        </div>
        <div style="display:none;">
            <label class="control-label" for="id_honeypot">{{ form.honeypot.label }}</label>
            <div class="controls">
                <input id="id_honeypot" type="text" name="honeypot" placeholder="{{ form.honeypot.label }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_comment">{{ form.comment.label }}</label>
            <div class="controls">
                <textarea id="id_comment" type="text" name="comment" rows="5" placeholder="{{ form.comment.label }}" class="input-xlarge"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">{% trans "Submit" %}</button>
            </div>
        </div>
    </form>
    </div>

    <div class="tab-pane" id="facebook">
    <p>facebook comment under construction</p>
    </div>

    <div class="tab-pane" id="twitter">
    <p>twitter comment under construction</p>
    </div>
</div>
<hr />

{{ article.hello }}

<p>
{% if article.get_previous %}
<strong>Previous article</strong> <a href="{{ article.get_previous.get_absolute_url }}">{{ article.get_previous.title }}</a>
{% endif %}
...
{% if article.get_next %}
<strong>Next article</strong> <a href="{{ article.get_next.get_absolute_url }}">{{ article.get_next.title }}</a>
{% endif %}

{% endblock %}
