{% extends "paprika/base_site.html" %}
{% load i18n markups comments staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'paprika/css/pygments.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'paprika/css/better-gist-styles.css' %}" />
{% endblock %}

{% block title %}{{ article.title }} | {{ board.title }}{% endblock %}

{% block content %}
{% if user.is_superuser or article.public_datetime %}

{% if user.is_superuser %}
<form action="{% url 'article_publish' article.id article.slug %}" method="post">{% csrf_token %}
    {% if article.public_datetime %}
    <input type="hidden" name="publish" value="false"/>
    <button class="btn btn-danger btn-small">{% trans 'UnPublish' %}</button>
    {% else %}
    <input type="hidden" name="publish" value="true"/>
    <button class="btn btn-primary btn-small">{% trans 'Publish' %}</button>
    {% endif %}
    <a class="btn btn-small" href="{% url 'article_update' board.id article.slug %}">{% trans 'Edit' %}</a>
    <a class="btn btn-primary btn-small" href="{% url 'article_create' board.slug %}">{% trans 'Create' %}</a>
</form>
{% endif %}

<h4>{{ article.title }}</h4>

<p class="text-right">
    {% if article.category %}
    <a href="{% url 'category_detail' board.slug article.category.slug %}">{{ article.category.title }}</a> - 
    {% endif %}
    <small><a href="{% url 'article_detail' article.id article.slug %}">{{ article.created_datetime }}</a></small>
</p>

{% if article.board.markup == 'markdown' %}
    {{ article.content|markdown }}
{% else %}
    {{ article.content|safe }}
{% endif %}

<br />
<p class="text-right">
<small>{% blocktrans %}Posted by {{ article.registrator.get_full_name }} ({{ article.registrator.username }}){% endblocktrans %}</small>
</p>

<p><strong>{% trans 'Tags' %}:</strong>
{% for tag in article.tags.all %}
    <a href="{% url 'tag_detail' board.slug tag.slug %}">{{ tag.slug }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>

<br />
{% if article.public_datetime %}
    {% include "paprika/comment.html" %}
{% endif %}
<hr />

{% if article.get_previous %}
<p align="left">
<a class="basic-alignment left" href="{{ article.get_previous.get_absolute_url }}">« {{ article.get_previous.title }}</a></p>
{% endif %}
{% if article.get_next %}
<p align="right"><a class="basic-alignment right" href="{{ article.get_next.get_absolute_url }}">{{ article.get_next.title }} »</a></p>
{% endif %}
</p>

{% else %}
{% trans "This post is not published yet" %}
{% endif %}

{% endblock %}
