{% extends "paprika/base.html" %}
{% load i18n staticfiles %}

{% block extrastyle %}
{{ block.super }}
<meta name="viewport" content="witdh=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{% static 'paprika/bootstrap/css/bootstrap.min.css' %}" />
<style type="text/css">
  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* Custom container */
  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Supporting article content */
  .article {
    margin: 28px 0;
    font-family: 나눔고딕, NanumGothic;
    text-align: justify;
    font-size: 1.1em;
    line-height: 170%;
    word-break: break-all;
  }
  .article p + h4 {
    margin-top: 28px;
  }
  .footer {
    text-align: right;
  }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'paprika/bootstrap/css/bootstrap-responsive.min.css' %}" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'paprika/js/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'paprika/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var path = window.location.pathname;
    var set_flag = false;
    $("ul.menu li a").each(function() {
        var menu_url = $(this).attr('href');
        if(menu_url != '/' && path.indexOf(menu_url) > -1) {
            $(this).parent().addClass("active");
            set_flag = true;
        }
    });
    if(set_flag == false) {
        $('li.home').addClass('active');
    }
});
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Paprika' %}{% endblock %}

{% block body %}
<div class="container-narrow">
    <div class="masthead">
        <ul class="menu nav nav-pills pull-right">
            <li class="home"><a href="{% url 'home' %}">Home</a></li>
	    <li><a href="{% url 'category_list' board.slug %}">Category</a></li>
            <li><a href="{% url 'tag_list' board.slug %}">Tag</a></li>
            <li><a href="{% url 'article_list' board.slug %}">Archive</a></li>
        </ul>
        <h3 class="muted">{{ board.title }}</h3>
        <p>{{ board.description }} <a href="{% url 'article_rss' board.slug %}"><img src="{% static 'paprika/image/feed-icon-16x16.png' %}" /></a></p>
    </div>
    <hr />
    <div class="row-fluid article">
        {% block content %}{% endblock %}
    </div>
    <hr />

    <div class="footer">
        <p>This site is powered by <a href="https://github.com/yong27/paprika" target="_blank">Paprika</a></p>
    </div>
</div>

{% endblock %}
