{% extends "paprika/base.html" %}
{% load i18n staticfiles %}

{% block extrastyle %}
{{ block.super }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="witdh=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="{% static 'paprika/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'paprika/css/jumbotron-narrow.css' %}" />
<style type="text/css">
/* Supporting article content */                                                .article {
    margin: 28px 0;  
    font-family: 나눔고딕, NanumGothic; 
    text-align: justify; 
    font-size: 1.1em;
    line-height: 170%;
    word-break: break-all;
}
.article p + h4 {
    margin-top: 28px;
}
.article h4 {
    font-weight: bold;
    margin-bottom: 30px;
}
.article h5 {
    font-weight: bold;
}
.article img {
    max-width: 100%;
}
.footer {
    text-align: right;
}
</style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ extra_head_html }}
<script src="{% static 'paprika/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'paprika/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var path = window.location.pathname;
    var set_flag = false;
    var home_url = "{% url 'home' %}";
    $("ul.menu li a").each(function() {
        var menu_url = $(this).attr('href');
        if(menu_url != home_url && path.indexOf(menu_url) > -1) {
            $(this).parent().addClass("active");
            set_flag = true;
        }
    });
    if(set_flag == false) {
        $('li.home').addClass('active');
    }
});
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Paprika' %}{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <ul class="menu nav nav-pills pull-right">
            <li class="home"><a href="{% url 'home' %}">Home</a></li>
	    <li><a href="{% url 'category_list' board.slug %}">Category</a></li>
            <li><a href="{% url 'tag_list' board.slug %}">Tag</a></li>
            <li><a href="{% url 'article_list' board.slug %}">Archive</a></li>
        </ul>
        <h3 class="text-muted">{{ board.title }}</h3>
        <div class='search' style="float:right;">
            <form method="get" action="{% url 'search' board.slug %}">
                <label style="display: none" for="searchbox">Search</label>
                <input type="text" id="searchbox" name="q" placeholder="Search">
                <input type="submit">
            </form>
        </div>
        <p>{{ board.description }} <a href="{% url 'article_rss' board.slug %}"><img src="{% static 'paprika/image/feed-icon-16x16.png' %}" /></a></p>
    </div>
    <div class="row-fluid article">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <p>This site is powered by <a href="https://github.com/yong27/paprika" target="_blank">Paprika</a></p>
    </div>
</div>

{% endblock %}
